html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/login_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
html .loginAndRegBox,
body .loginAndRegBox {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
html .loginAndRegBox .title-box,
body .loginAndRegBox .title-box {
  height: 60px;
  background: url(../images/login_title.png) no-repeat center;
}
html .loginAndRegBox .reg-box,
body .loginAndRegBox .reg-box {
  display: none;
}
html .loginAndRegBox .reg-box form input,
body .loginAndRegBox .reg-box form input {
  box-sizing: border-box;
  display: block;
  margin: 0 30px 10px;
  outline: cyan;
  border: 1px dashed rgba(200, 150, 179, 0.5);
  height: 40px;
  line-height: 40px;
  width: 85%;
  text-indent: 1em;
  margin-bottom: 10px;
}
html .loginAndRegBox .reg-box form input::placeholder,
body .loginAndRegBox .reg-box form input::placeholder {
  color: #ddc;
}
html .loginAndRegBox .reg-box form #submitzc,
body .loginAndRegBox .reg-box form #submitzc {
  cursor: pointer;
  margin: 0 30px;
  width: 85%;
  position: absolute;
  bottom: 45px;
  background-color: #75ed9c;
  color: #fff;
  text-indent: 0;
}
html .loginAndRegBox .reg-box #link-login,
body .loginAndRegBox .reg-box #link-login {
  position: absolute;
  bottom: 20px;
  right: 10px;
}
html .loginAndRegBox .login-box form input,
body .loginAndRegBox .login-box form input {
  box-sizing: border-box;
  display: block;
  margin: 0 30px 10px;
  outline: cyan;
  border: 1px dashed rgba(200, 150, 179, 0.5);
  height: 40px;
  line-height: 40px;
  width: 85%;
  text-indent: 1em;
  margin-bottom: 10px;
}
html .loginAndRegBox .login-box form input::placeholder,
body .loginAndRegBox .login-box form input::placeholder {
  color: #333;
}
html .loginAndRegBox .login-box form #submit,
body .loginAndRegBox .login-box form #submit {
  cursor: pointer;
  margin: 0 30px;
  width: 85%;
  position: absolute;
  bottom: 45px;
  background-color: #75ed9c;
  color: #fff;
  text-indent: 0;
}
html .loginAndRegBox .login-box #link-reg,
body .loginAndRegBox .login-box #link-reg {
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.layui-form-item {
  position: relative;
}
.layui-form-item i {
  position: absolute;
  left: 8px;
  top: 10px;
}
.layui-form-item.links {
  position: static;
}
.layui-form-item.links a {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
